*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
header{
    display: flex;
    position: sticky;
    justify-content: space-between;
    background-color: rgb(247, 211, 53);
    align-items: center;
    top: 0;
    z-index: 1;
    height: 70px;
}
.logo{
    margin-left: 50px;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: auto;
    margin-right: 50px;
}
li{
    margin: 10px;
}
.container-1{
    display: flex;
    padding: 80px;
    justify-content: space-around;
}
.first-div{
    padding-top: 50px;
    margin-left: 90px;
}
h1{
    font-size: 60px;
}
.button-1{
    margin-top: 20px;
    font-size: 20px;
    height: 40px;
    width: 150px;
    background-color:rgb(247, 205, 21);
    border: none;
}
.section2{
    display: flex;
    justify-content: center;
    
    margin: 100px;
    padding: 10px;
    background-color:#f2f2f2;
    max-width: 930px;
    position: relative;
    bottom: 25px;
    z-index: 1;

}
.caja{
    display: flex;
    justify-content: center;
}

.container2{
    margin: 50px;
    max-width: 290px;

}

.img-container2{
    padding: 10px;
    margin: 15px;
}
.img-container2{
    padding: 10px;
    margin: 15px;
}

.img-barras{
    margin: 10px;
}

.title-yellow{
    color:  rgb(247, 205, 21);
    font-size: 40px;
    margin: 0px;
    font-weight: bold;
}
.read-more{
    font-weight: bold;
}
.container-3{
    background-color: rgb(247, 205, 21);
    height: 800px;
    margin-top: -300px;
    padding-top: 200PX;
}
h3{
    
    margin-left: 40px;
    font-size: 70px;
}
.title-3{
    display: flex;
    margin-left: 40px;

}
.texto-3{
    width: 30%;  
    padding-top: 20px;
    font-size: 20px;
}
.imagen-2{
    margin-left: 50px;
    height: 550px;
}
.button-3{
    margin-top: 30px;
    font-size: 20px;
    height: 40px;
    width: 150px;
    color: white;
    background-color: rgb(5, 5, 5);
    border: none;
}
.second-div{
    display: flex;
    flex-direction: row;
    background-color: rgb(214, 212, 212);
    box-shadow:  40px 36px rgba(10, 10, 10, 0.041);
    margin-top: 70px;
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
}
.second-2-div{
    padding-bottom: 50px;
    margin-left: 20px;
    width: 40%;
}
.title-4{
    display: flex;
    color:  rgb(247, 205, 21);
    font-size: 50px;
}
.button-4{
    margin-top: 40px;
    font-size: 20px;
    height: 40px;
    width: 150px;
    color: white;
    background-color: rgb(5, 5, 5);
    border: none;
}
.imagen-4{
    padding-top: 10px;
    padding-left: 200px;
    
}
.imagen-4-1{
    width: 500px;
}
.container-5{
    text-align: center;
    background-color: black;
}
.title-5{
    padding-top: 60px;
    color: rgb(247, 205, 21);;
    font-size: 40px;
}
.texto-5{
    padding-left: 300px;
    margin: 30px;
    padding-right: 300px;
    color: white;
}
.button-5{
    margin-top: 20px;
    font-size: 20px;
    height: 40px;
    width: 150px;
    background-color:rgb(247, 205, 21);
    border: none;
    margin: 40px;
}
.container-6{
    display: flex;
    padding: 80px;
    justify-content: space-around;
}
.div-6{
    padding-top: 200px;
    margin-left: 30px;
}
.title-6{
    font-size: 40px;
}
.texto-6{
    padding-right: 70px;
}
.button-6{
    margin-top: 20px;
    font-size: 20px;
    height: 40px;
    width: 150px;
    background-color:rgb(247, 205, 21);
    border: none;
}
.container-7{
    background-color:#f2f2f2;;
    display: flex;
    padding: 80px;
    justify-content: space-around;
}
.div-7{
    padding-top: 200px;
    margin-left: 30px;
}
.title-7{
    font-size: 45px;
}
.texto-7{
    padding-right: 70px;
}
.button-7{
    margin-top: 20px;
    font-size: 20px;
    height: 40px;
    width: 150px;
    background-color:rgb(247, 205, 21);
    border: none;
}

.container-8{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    height: 500px;
    width: 100 auto;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    color: rgb(255, 255, 255);
}

.h1-3{
    font-size: 3rem;
    margin: 10px, 0px;
}

.texts{
    max-width:80% ;
    margin: 70px;
    justify-content: flex-start;
    text-align: justify;
}
.form {
  background-color: black;
  margin: 15px;
  padding: 50px;    
  max-width: 420px;
  width: 140%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 97%;
  margin-bottom: 4px;
}

.form-group {
  width: 48%;
 
}



.form-input {
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  width: 95%;
  font-size: 16px;
  background-color: black;
 
}

textarea.form-input {
  width: 200%;
  height: 90px;
  resize: vertical;
  background-color: transparent;
  color: #333;
}
.title-8{
    color: rgb(247, 205, 21);
    font-size: 3rem;
    margin: 10px, 0px;
}
.texto-8{
    font-size: 25px;
    color: black;
}
.button-8{
    margin-top: 40px;
    font-size: 20px;
    height: 40px;
    width: 150px;
    color: white;
    background-color: rgb(5, 5, 5);
    border: none;
}
.container-9{
    text-align: center;
    background-color:  rgb(247, 205, 21);
}
.title-9{
    padding-top: 60px;
    color: black;
    font-size: 60px;
}
.texto-9{
    padding-left: 300px;
    font-size: 30PX;
    margin: 30px;
    padding-right: 300px;
    color: black;
}
.button-9{
    margin-top: 20px;
    font-size: 20px;
    height: 40px;
    width: 150px;
    color: white;
    background-color: black;
    border: none;
    margin: 40px;
}
.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.logo {
    align-self: flex-start;
    margin-bottom: 20px;
}
.logo img {
    width: 100px;
    height: auto;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.footer-links {
    display: flex;
    gap: 50px;
}
.footer-column {
    display: flex;
    flex-direction: column;
}
.footer-column a {
    color: rgb(247, 205, 21);
    text-decoration: none;
    margin-bottom: 10px;
}
.copyright {
    color: rgb(247, 205, 21);
    border-top: 1px solid white;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    background-color: rgb(247, 205, 21);
    margin: 5px;
    border-radius: 60%;
    border: none;
    padding: 5px 7px;
}
.red-social{
    width:40%;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    border-radius: 50%;
}
@media screen and (max-width: 550px){
    header{
        width: 550px;
    }
    .container-1{
        flex-direction: column;
    }
    .container2{
        padding: 0;
        margin: 0;
       
    }
    .img-barras{
        height: 150px;
        margin: 0px;
    }
    .container-3{
        text-align: center;
        width: 550px;
    }
    h3{
        font-size: 40px;
    }
    .title-3{
        flex-direction: column;
       
      
    }
    .texto-3-1{
        padding-left: 110px;
        width: 200px;
    }
    .button-3{
        margin-left: 120px;
    }
    .imagen-2{
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 0px;
        height: 250px;
        width: 300px;
    }
    .second-div{
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        box-shadow: none;
        width: 550px;
    }
    .imagen-4-1{
        margin-top: 10px;
        width: 300px;
    }
    .container-5{
        width: 550px;
    }
    .second-2-div{
        padding-bottom: 0px;
        margin-top: 0px;
        margin-left: 0px;
        width: 80%;
    }
    .texto-5{
        padding-left: 100px;
        padding-right: 100px;
    }
    .div-5 img{
        width: 300px;
    }
    .container-6{
        flex-direction: column;
        text-align: center;
    }
    .div-6{
        padding-top: 20px;
        padding-left: 30px;
    }
    .button-6{
        margin-right: 60px;
    }
    .container-7{
        flex-direction: column;
        padding: 0;
        width: 550px;
    }
    .div-7{
        padding-top: 20px;
    }
    .button-7{
        margin-left: 30px;
        margin-bottom: 5px;
    }
    .container-8{
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
        height: 800px;
    }
    .title-8{
        font-size: 2rem;
        margin: 3px, 0px;
    }
    .texto-8{
        font-size: 10px;
        
    }
    .button-8{
        margin-left: 30px;
        
    }
    .container-9{
        flex-direction: column;
        width: 550px;
    }
    .texto-9{
        padding-left: 100px;
        padding-right: 100px;
    }
    .div-9 img{
        width: 400px;
    }
    .form{
        width: 250px;
    }
    footer{
        width: 509px;
    }
    ul{
       
        margin-right: 0px;
    }
}

@media screen and (max-width: 480px){
    header{
        width: 480px;
    }
    li{
        margin: 0px;
        padding: 10px;
    }
    .container-1{
        flex-direction: column;
    }
    .container2{
        padding: 0;
        margin: 0;
       
    }
    .img-barras{
        height: 150px;
        margin: 0px;
    }
    .section2{
        margin: 0;
        margin-bottom: 30px;
    }
    
    .container-3{
        text-align: center;
        width: 479px;
    }
    h3{
        font-size: 40px;
        margin-top: 100px;
    }
    .title-3{
        flex-direction: column; 
    }
    .texto-3-1{
        padding-left: 110px;
        width: 200px;
    }
    .button-3{
        margin-left: 120px;
    }
    .imagen-2{
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 0px;
        height: 250px;
        width: 300px;
    }
    .second-div{
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        box-shadow: none;
        width: 480px;
    }
    .imagen-4-1{
        margin-top: 10px;
        width: 300px;
    }
    .second-2-div{
        padding-bottom: 0px;
        margin-top: 0px;
        margin-left: 0px;
        width: 80%;
    }
    .texto-5{
        padding-left: 100px;
        padding-right: 100px;
    }
    .container-5{
        width: 480px;
    }
    .div-5 img{
        width: 300px;
    }
    .container-6{
        flex-direction: column;
        text-align: center;
    }
    .div-6{
        padding-top: 20px;
        padding-left: 30px;
    }
    .button-6{
        margin-right: 60px;
    }
    .container-7{
        flex-direction: column;
        width: 480px;
        padding: 0;
    }
    .div-7{
        padding-top: 20px;
    }
    .button-7{
        margin-left: 30px;
        margin-bottom: 5px;
    }
    .container-8{
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        height: 800px;
        width: 480px;
    }
    .title-8{
        font-size: 2rem;
        margin: 3px, 0px;
    }
    .texto-8{
        font-size: 10px;
        
    }
    .button-8{
        margin-left: 30px;
        
    }
    .container-9{
        flex-direction: column;
        width: 479px;
    }
    .texto-9{
        padding-left: 100px;
        padding-right: 100px;
    }
    .div-9 img{
        width: 400px;
    }
    .form{
        width: 250px;
    }
    footer{
        width: 439px;
    }
    ul{
       
        margin-right: 0px;
    }
  
}
@media screen and (max-width: 400px){
    .caja{
        margin-left: 100px;
    }
    .container-6{
        padding: 10px;
        padding-left: 100px;
    }
}


